version: '3.4'
services:
  test:
    build:
      context: .
      target: build-deps
    links:
      - mysql_legacy
      - mysql
      - pg
      - mssql
    command: ["npm", "run", "test:docker"]
